[Unit]
Description=Agent for FactorioMMO

[Service]
ExecStart=/opt/factoriommo-agent/env/bin/fmcd
User=factorio

[Install]
WantedBy=multi-user.target
